---
const { conclusion } = Astro.props;
---

{/* Conclusion */}

<section aria-labelledby="conclusion-heading" aria-describedby="conclusion-detail" class="my-15">
  <h2 id="conclusion-heading" class="mb-4">
    {conclusion.heading}
  </h2>
  <p id="conclusion-detail" class="leading-relaxed">
    {conclusion.detail}
  </p>
</section>
