---
const { cta } = Astro.props;

// Components
import BTN from '@/components/other/BTN.astro';
---

<!-- Call to Action -->
<aside
  class="bg-secondary-light2 p-6 text-center"
  role="complementary"
  aria-labelledby="cta-heading"
  aria-describedby="cta-tagline"
>
  <div class="maxwidth p-6">
    <h3 id="cta-heading" set:html={cta.heading} />
    <p id="cta-tagline">
      {cta.tagline}
    </p>
    <BTN btnLink="/contact-us" btnClass="button" btnText="Contact Us Today" btnAria={cta.aria} />
  </div>
</aside>

<style>
  @reference "tailwindcss";
  h3 {
    @apply text-4xl mb-10;
  }

  p {
    @apply text-lg mb-10;
  }
</style>
