---
const { main } = Astro.props;
---

{/* Main Content Section */}

<article aria-labelledby="services-heading" aria-describedby="services-detail" class="pt-12">
  <section aria-labelledby="services-heading" class="mb-12">
    <h2 id="services-heading" class="mb-4">
      {main.heading}
    </h2>
    <p id="services-detail" class="leading-relaxed">
      {main.detail}
    </p>
  </section>
</article>
