---
const { main, image } = Astro.props;

//import picture
import Picture from 'astro/components/Picture.astro';
---

{/* Main Content Section */}

<article aria-labelledby="services-heading" aria-describedby="services-detail" class="pt-12">
  <section aria-labelledby="services-heading" class="mb-12 flex gap-15">
    <div>
      <h2 id="services-heading" class="mb-4">
        {main.heading}
      </h2>
      <p id="services-detail" class="leading-relaxed">
        {main.detail}
      </p>
    </div>
    <div class="min-w-1/3">
      <Picture src={image.path} alt={image.alt} width={500} />
    </div>
  </section>
</article>
