---
import CompanyBox from './CompanyBox.astro'
import companies from '../../data/js/companies.json'

const totalBoxes = Math.max(companies.left.length, companies.right.length)
const centerOffset = Math.floor(totalBoxes / 2)
---

<div class="flex min-h-screen items-center justify-center bg-white">
  <div class="relative flex flex-col items-start gap-12 px-4 md:flex-row">
    <!-- Left Column -->
    <div class="relative flex flex-col gap-6 pt-[2.5rem]">
      {companies.left.map((title) => <CompanyBox title={title} side="left" />)}
    </div>

    <!-- Center Circle + Vertical Lines -->
    <div class="relative flex flex-col items-center">
      <!-- Vertical line up -->
      <div class="absolute top-0 w-1 bg-cyan-600" style={`height: ${centerOffset * 5}rem`}></div>

      <!-- Center circle -->
      <div
        class="z-10 flex h-48 w-48 items-center justify-center rounded-full border-4 border-cyan-600 bg-yellow-400 p-6 text-center text-sm font-bold text-white"
      >
        INDIVIRTUS<br />GROUP OF<br />COMPANIES
      </div>

      <!-- Vertical line down -->
      <div class="absolute bottom-0 w-1 bg-cyan-600" style={`height: ${(totalBoxes - centerOffset - 1) * 5}rem`}></div>
    </div>

    <!-- Right Column -->
    <div class="relative flex flex-col gap-6 pt-[2.5rem]">
      {companies.right.map((title) => <CompanyBox title={title} side="right" />)}
    </div>
  </div>
</div>
