---
// Astro component for Indivirtus Terms, Process, and Policy page
---

<section class="section px-6 py-12 md:px-16">
  <h3 class="pageHeading">Terms, Policy, <span class="halfHeading">Payments and Refunds</span></h3>
  <div class="maxwidth prose prose-lg">
    <h5>ANALYSIS</h5>
    <p>
      Client fills in the inquiry form with their requirements and our sales team gets in touch with them via email or
      telephone to discuss their project in detail. We fulfill the immediate requirements by devising an outsourcing
      strategy, after analyzing the components of their business that are ‘outsourceable’.
    </p>

    <h5>PILOT PROJECT</h5>
    <p>
      We then implement the detailed transition plan. To provide a proof of the concept, our execution team completes a
      pilot project and hands it over to the client for approval with ballpark estimation, measured on the basis of
      sample task accomplished.
    </p>

    <h5>PRICING & CONTRACTING</h5>
    <p>
      After receiving acceptance on the work as well as the costs, we send out proposal to client, facilitate client
      visits, finalize contracts and define service level agreements (SLAs).
    </p>

    <h5>PROJECT INITIATION</h5>
    <p>
      The HR team deploys appropriate resources for the client’s project & arranges a preliminary training for them.
      After final selection, we begin the assignment. At all times, we ensure that the parameters of turnaround time,
      efficiency & quality are met.
    </p>

    <h5>PROJECT REPORTING & SUPPORT</h5>
    <p>
      A team leader or project supervisor is going to be in touch with the client using e-mail, telephone or instant
      messenger for day-to-day project tracking and feedback. We make sure that our clients always have control over the
      complete process of outsourcing.
    </p>

    <h5>Terms and Privacy Policy</h5>
    <p>
      These terms and conditions outline the rules and regulations for the use of Indivirtus Website. By accessing this
      website we assume that you accept these terms and conditions in full. Do not continue to use Indivirtus website,
      if you do not accept all of the terms and conditions stated on this page.
    </p>

    <p>
      The following terminology applies to these Terms and Conditions, Privacy Statement and Disclaimer Notice and any
      or all Agreements:
    </p>
    <p>
      “Client”, “You” and “Your” refers to you, the person accessing this website and accepting the Company’s terms and
      conditions. “The Company”, “Ourselves”, “We”, “Our” and “Us”, refers to our Company. “Party”, “Parties”, or “Us”,
      refers to both the Client and ourselves, or either the Client or ourselves.
    </p>
    <p>
      All terms refer to the offer, acceptance and consideration of payment necessary to undertake the process of our
      assistance to the Client in the most appropriate manner, whether by formal meetings of a fixed duration, or any
      other means, for the express purpose of meeting the Client’s needs in respect of provision of the Company’s stated
      services/products, in accordance with and subject to, prevailing law of India. Any use of the above terminology or
      other words in the singular, plural, capitalization and/or he/she or they, are taken as interchangeable and
      therefore as referring to same.
    </p>

    <h5>Cookies</h5>
    <p>
      We employ the use of cookies. By using Indivirtus website you consent to the use of cookies in accordance with
      Indivirtus privacy policy.
    </p>
    <p>
      Most of the modern day interactive web sites use cookies to enable us to retrieve user details for each visit.
      Cookies are used in some areas of our site to enable the functionality of this area and ease of use for those
      people visiting. Some of our affiliate / advertising partners may also use cookies.
    </p>

    <h5>License</h5>
    <p>You must not:</p>
    <ul>
      <li class="p">Republish material from <a href="/">https://www.Indivirtus.com</a></li>
      <li class="p">
        Sell, rent or sub-license material from <a href="/">https://www.Indivirtus.com</a>
      </li>
      <li class="p">
        Reproduce, duplicate or copy material from <a href="/">https://www.Indivirtus.com</a>
      </li>
      <li class="p">Redistribute content from Indivirtus (unless content is specifically made for redistribution).</li>
    </ul>

    <h5>Iframes</h5>
    <p>
      Without prior approval and express written permission, you may not create frames around our Web pages or use other
      techniques that alter in any way the visual presentation or appearance of our Web site.
    </p>

    <h5>Content Liability</h5>
    <p>
      We shall have no responsibility or liability for any content appearing on your Web site. You agree to indemnify
      and defend us against all claims arising out of or based upon your Website. No link(s) may appear on any page on
      your Web site or within any context containing content or materials that may be interpreted as libelous, obscene
      or criminal, or which infringes, otherwise violates, or advocates the infringement or other violation of, any
      third party rights.
    </p>

    <h5>Disclaimer</h5>
    <p>
      To the maximum extent permitted by applicable law, we exclude all representations, warranties and conditions
      relating to our website and the use of this website (including, without limitation, any warranties implied by law
      in respect of satisfactory quality, fitness for purpose and/or the use of reasonable care and skill).
    </p>
    <p>Nothing in this disclaimer will:</p>
    <ul>
      <li class="p">limit or exclude our or your liability for death or personal injury resulting from negligence</li>
      <li class="p">limit or exclude our or your liability for fraud or fraudulent misrepresentation</li>
      <li class="p">limit any of our or your liabilities in any way that is not permitted under applicable law</li>
      <li class="p">exclude any of our or your liabilities that may not be excluded under applicable law</li>
    </ul>
    <p>The limitations and exclusions of liability set out in this Section and elsewhere in this disclaimer:</p>
    <ul>
      <li class="p">are subject to the preceding paragraph; and</li>
      <li class="p">
        govern all liabilities arising under the disclaimer or in relation to the subject matter of this disclaimer,
        including liabilities arising in contract, in tort (including negligence) and for breach of statutory duty.
      </li>
    </ul>
    <p>
      To the extent that the website and the information and services on the website are provided free of charge, we
      will not be liable for any loss or damage of any nature.
    </p>

    <h5>Payments</h5>
    <p>
      Clients are encouraged to make digital payments. Domestic clients can make the payments using Credit Cards, Debit
      Cards, UPI and Net banking while International Clients can pay by using Credits Cards.
    </p>

    <h5>Return</h5>
    <p>
      Since we are services provider. We do not have any physical product to deliver, hence the product return is out of
      scope.
    </p>

    <h5>Refund Policy</h5>
    <p>
      We ensure utmost client satisfaction before starting the activities for any service domain. All necessary measures
      are taken to ensure transparency before starting the service by following the above mentioned process flow to
      define the clear scope of work. We provide draft sample reports wherever possible. Our team is available to
      demonstrate the capabilities and competency for the agreed time number of days prior to commencing the desired
      service. Once the client is fully satisfied, we start the activities and generate the invoice. Hence, the refund
      of any paid amount or charge back is not applicable.
    </p>
  </div>
</section>

<style>
  @reference "tailwindcss";
  h3 {
    @apply text-3xl md:text-5xl text-center mb-6;
  }
  h5 {
    @apply py-3 font-bold;
  }
  p {
    @apply mb-2;
  }
</style>
