---
import { FaEyeSlash, FaSquareArrowUpRight, FaNoteSticky } from 'react-icons/fa6';

const features = [
  {
    icon: FaEyeSlash,
    text: 'To be among the top ten globally competent consultants capable of providing timely and accurate solutions with highest integrity, as well as a challenging and growth-oriented environment to our team members so that they have a great sense of pride and achievement.',
  },
  {
    icon: FaSquareArrowUpRight,
    text: 'To facilitate our customers with quality outcomes and financial prudence by creating and nurturing a team of highly competent & innovative professionals and state of art technology to deliver complete satisfaction with precise finesse and excellence.',
  },
  {
    icon: FaNoteSticky,
    text: 'Indivirtus is committed to integrity, world class quality and excellent customer service. We endeavor to achieve this niche position through constant innovation, up-gradation and customer satisfaction while operating under an effective quality management system.',
  },
];
---

<section class="section">
  <div class="maxwidth">
    <h3>Vision, Mission & <span class="halfHeading">Quality Policy</span></h3>
    <div class="grid gap-8 text-center md:grid-cols-3">
      {
        features.map((feature) => (
          <div class="flex flex-col items-center p-6">
            <div class="icon mb-4 animate-bounce rounded-full">
              <feature.icon />
            </div>
            <p>{feature.text}</p>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  @reference "tailwindcss";
  .icon {
    @apply text-6xl;
    color: var(--color-secondary);
  }
  h3 {
    @apply text-3xl md:text-5xl text-center mb-6;
  }
</style>
