---
// No props needed
---

<button
  id="goTopBtn"
  class="fixed flex hidden items-center justify-center transition-all duration-[400ms]"
  onclick="window.scrollTo({ top: 0 });"
>
  <svg xmlns="http://www.w3.org/2000/svg" class="h-8 w-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 15l7-7 7 7"></path>
  </svg>
</button>

<style>
  @reference "tailwindcss";

  #goTopBtn {
    @apply bottom-10 right-10 w-10 aspect-square rounded-4xl shadow-md;
    border: 2px solid var(--color-secondary);
    background-color: var(--color-secondary);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-white);
      color: var(--color-secondary);
    }
  }
</style>

<script type="text/javascript" is:inline>
  const goTopBtn = document.getElementById('goTopBtn')

  window.addEventListener('scroll', () => {
    if (window.scrollY > 300) {
      goTopBtn.classList.remove('hidden')
    } else {
      goTopBtn.classList.add('hidden')
    }
  })
</script>
