---
// Imports
import Layout from '../../../layouts/Layout.astro';
import '../../styles/global.css';

// SEO Data
import seoData from '@/data/js/services/adepde.js';

// Components
import Faq from '@/components/other/Faq.astro';
import HeroSection from '@/components/services/HeroSection.astro';
import MainContentSection from '@/components/services/MainContentSection.astro';
import ServiceCard from '@/components/services/ServiceCard.astro';
import ProcessSection from '@/components/services/ProcessSection.astro';
import ComplianceSection from '@/components/services/ComplianceSection.astro';
import ConclusionSection from '@/components/services/ConclusionSection.astro';
import CTASection from '@/components/services/CTASection.astro';

const { meta, image, schema, faqSchema, pageLink, pageContent } = seoData;
const { mainEntity } = faqSchema;
const { hero, main, cards, process, compliance, conclusion, cta } = pageContent;
---

<Layout
  seo={{
    title: `${meta.title} - Indivirtus`,
    description: meta.description,
    keywords: meta.keywords,
    canonical: meta.canonicalUrl,
    image: image.path.src,
    url: pageLink,
    schema: schema,
    faqSchema: faqSchema,
  }}
>
  <main id="main-content" aria-labelledby="page-title">
    <h1 class="flex items-center justify-center">Coming Soon</h1>
  </main>
</Layout>
