/* button */
.button,
.buttonSimple {
  @apply py-2 cursor-pointer rounded-lg transition-all max-w-fit;
}

.button {
  @apply px-4  duration-200 text-center text-lg font-medium mx-auto hover:scale-105 focus:scale-105;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);

  &:hover {
    @apply shadow-lg;
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}

/* a {
  @apply w-full;
} */

.contactBtn {
  @apply min-w-full;
}

.buttonSimple {
  @apply pr-2 text-xl font-medium hover:scale-115 focus:scale-115 hover:origin-left duration-300;

  a {
    @apply pr-2 text-xl font-medium py-2 rounded-lg max-w-fit focus:ring-secondary;
  }
}

/* a {
  @apply block;
} */

/* &:after {
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    transform: translate(0px, 0px);
    opacity: 0.3;
    z-index: -1;
    transition: transform 0.2s ease-out;
    border-radius: 8px;
    background-color: var(--color-button-bg);
    width: 100%;
    height: 100%;
    content: '';
  }

  &:hover {
    &::after {
      transform: translate(8px, 8px);
    }
  } */
