/* button */
.button {
  @apply px-4 py-2 rounded-lg transition duration-200 cursor-pointer relative text-center text-lg font-medium max-w-fit mx-auto hover:scale-105 focus:scale-105;
  border: 2px solid var(--color-primary);
  background-color: var(--color-primary);
  color: var(--color-white);

  /* &:after {
    display: block;
    position: absolute;
    top: -2px;
    left: 0;
    transform: translate(0px, 0px);
    opacity: 0.3;
    z-index: -1;
    transition: transform 0.2s ease-out;
    border-radius: 8px;
    background-color: var(--color-button-bg);
    width: 100%;
    height: 100%;
    content: '';
  }

  &:hover {
    &::after {
      transform: translate(8px, 8px);
    }
  } */

  &:hover {
    @apply shadow-lg;
    background-color: var(--color-white);
    color: var(--color-primary);
  }
}

.contactBtn {
  @apply min-w-full;
}

.buttonSimple {
  @apply py-2 pr-2 cursor-pointer text-xl font-medium max-w-fit hover:scale-115 focus:scale-115 transition-all hover:origin-left duration-300;
}
