---
// src\pages\career.astro

import Layout from '@/layouts/Layout.astro';

import JobCard from '@/components/career/JobCard.astro';
import JobApplicationModal from '@/components/career/JobApplicationModal.jsx';

/// Importing the SEO and location schema
import seoData from '@/data/js/seo/career.js';

import jobs from '@/data/js/jobOpenings';

const { meta, faqSchema, gtm, pageLink, schema } = seoData;
---

<Layout
  seo={{
    title: `${meta.title} - Indivirtus`,
    description: meta.description,
    keywords: meta.keywords,
    canonical: meta.canonicalUrl,
    url: pageLink,
    schema: schema,
    faqSchema: faqSchema,
    ogTags: meta.ogTags,
    twitterCard: meta.twitterCard,
  }}
  gtm={gtm}
>
  <section class="section">
    <div class="maxwidth">
      <h3 class="pageHeading">
        Opportunities <span class="halfHeading">@ Indivirtus!</span>
      </h3>
      <JobCard jobs={jobs} />
      <JobApplicationModal client:load />
    </div>
  </section>
</Layout>
