---
import Layout from "../layouts/Layout.astro";
import Header from "../components/header/Header.astro";
import Footer from "../components/footer/Footer.astro";
import ContactForm from "../components/contact/ContactForm.astro";
import GoogleMap from "../components/contact/GoogleMap.astro";
import "../styles/global.css";

// Importing the default SEO and location schema
// import { servicesPageSeo } from "../data/js/siteSeo.js";
import {  allServicesSchema } from "../data/js/servicesSchemaSEO.js";

//  seo={{ ...servicesPageSeo, canonical: servicesPageSeo.url, servicesSchema: allServicesSchema}}
---

<Layout  seo={{ servicesSchema: allServicesSchema}}>
  <Header />
  {/* <section class="mx-auto maxwidth"> 
<div class="flex flex-col lg:flex-row-reverse gap-8 p-4"> */}
<section class="flex flex-col md:flex-row maxwidth min-h-screen bg-white text-gray-900">
    <ContactForm />
    {/* <GoogleMap /> */}
{/* </div> */}
  </section>
  <Footer />
</Layout>


