---
import Layout from '@/layouts/Layout.astro';

import CompanyCard from '@/components/companies/CompanyCard.astro';
import cards from '@/data/js/companies.js';

// Importing the SEO
import seoData from '@/data/js/seo/groupOfCompanies';

const { meta, faqSchema, gtm, pageLink, schema } = seoData;
---

<Layout
  seo={{
    title: `${meta.title} - Indivirtus`,
    description: meta.description,
    keywords: meta.keywords,
    canonical: meta.canonicalUrl,
    url: pageLink,
    schema: schema,
    faqSchema: faqSchema,
    ogTags: meta.ogTags,
    twitterCard: meta.twitterCard,
  }}
  gtm={gtm}
>
  <section class="section">
    <div class="maxwidth mx-auto px-4">
      <h3 class="pageHeading">Indivirtus <span class="halfHeading">Group of Companies!</span></h3>
      <div class="mb-12 grid grid-cols-1 justify-items-center gap-x-40 gap-y-20 px-4 sm:grid-cols-2 md:grid-cols-3">
        {cards.map((card) => <CompanyCard {...card} />)}
      </div>
    </div>
  </section>
</Layout>

<style>
  @reference "tailwindcss";
  h1 {
    @apply mb-8 md:mb-16 text-center;
  }
</style>
