---
import Layout from '../layouts/Layout.astro';

import ServiceCatalog from '../components/services/ServicesCatalog.astro';
import '../styles/global.css';

// Importing the default SEO and location schema
import seoData from '../data/js/seo/services.js';
import { allServicesSchema } from '../data/js/seo/servicesSchemaSEO.js';

import services from '../utils/services.js';

const { meta, faqSchema, gtm, pageLink, schema } = seoData;
---

<Layout
  seo={{
    title: `${meta.title} - Indivirtus`,
    description: meta.description,
    keywords: meta.keywords,
    canonical: meta.canonicalUrl,
    url: pageLink,
    faqSchema: faqSchema,
    ogTags: meta.ogTags,
    twitterCard: meta.twitterCard,
    servicesSchema: allServicesSchema,
  }}
  gtm={gtm}
>
  <main>
    <ServiceCatalog services={services} />
  </main>
</Layout>
