---
import Picture from 'astro/components/Picture.astro'
import heroImg from '../../assets/hero.png'
import bgImage from '../../assets/bg.jpg'
---

<section
  id="hero-section"
  class="relative w-full items-center justify-center"
  style={`background-image: url(${bgImage.src}); background-size: cover; background-repeat: no-repeat; background-position: center;`}
>
  <div class="maxwidth mx-auto flex max-w-xl flex-row p-6 text-center md:p-10">
    <div>
      <h1>Welcome to Our Website</h1>
    </div>
    <Picture src={heroImg} alt="Hero Image" class="mx-auto hidden md:block md:max-w-[70%]" />
  </div>
</section>

<style>
  @reference "tailwindcss";

  h1 {
    @apply mt-4;
    color: var(--color-black);
  }
</style>
