---
import { Image } from "astro:assets";
import heroImg from "../../assets/hero.png";
import bgImage from "../../assets/bg.jpg";
---

<section
  id="hero-section"
  class="w-full items-center justify-center relative"
  style={`background-image: url(${bgImage.src}); background-size: cover; background-repeat: no-repeat;background-position: center;`}
>
  <div class="p-6 md:p-10 mx-auto max-w-xl text-center maxwidth flex flex-row">
    <div>
      <h1 class="text-3xl md:text-5xl font-bold mt-4 headingColor">
        Welcome to Our Website
      </h1>
    </div>
    <Image
      src={heroImg}
      alt="Hero Image"
      class="mx-auto rounded-lg max-w-[40%]"
    />
  </div>
</section>
