---
// import Picture from 'astro/components/Picture.astro'
// import heroImg from '../../assets/hero.png'
import bgImage from '../../assets/hero-bg-4.avif';
import { heroDescription } from '../../data/js/hero.js';
import Stats from './Stats.astro';
---

<section
  id="hero-section"
  class="relative mb-8 bg-cover bg-center bg-no-repeat md:mb-0"
  style={`background-image: url(${bgImage.src});`}
>
  <div class="maxwidth mx-auto flex flex-col-reverse px-8 py-8 lg:flex-row lg:py-20">
    <Stats />
    <div class="mb-6 sm:text-justify lg:max-w-2/3">
      <h1 class="text-left">
        <span class="heroHeadline">{heroDescription.tag}</span><br /><span class="heroDetail"
          >{heroDescription.description}</span
        >
      </h1>
    </div>
    {/* <Picture src={heroImg} alt="Hero Image" class="mx-auto hidden md:block md:max-w-[70%]" /> */}
  </div>
</section>

<style>
  @reference "tailwindcss";
  .heroHeadline {
    @apply leading-12;
  }
  .heroDetail {
    @apply text-lg font-medium text-black;
  }
</style>
