---
import Hero from './Hero.astro'
import Companies from '../companies/Companies.astro'
import SerivcesGrid from './SerivcesGrid.astro'
import Testimonials from './Testimonials.astro'
---

<main id="main-content maxwidth">
  <Hero />
  <Companies />
  <SerivcesGrid />
  <Testimonials />
</main>
