---
import Hero from './Hero.astro';
import Companies from '../companies/Companies.astro';
import SerivcesSectionGrid from '../services/ServicesSectionGrid.astro';
import Testimonials from '../testimonials/Testimonials.jsx';
import Certifications from './Certifications.astro';
import WhyUs from './WhyUs.astro';
import GlobalFootprint from './GlobalFootprint.jsx';
import ContactForm from '../contact/ContactForm.astro';
import QR from '../contact/QR.astro';

//importing data
import whyUs from '@/data/js/whyUs.js';
import AboutShort from '../aboutus/AboutShort.astro';

const colorPrimaryLight = 'var(--color-primary-light)';
---

<div id="main-content">
  <Hero />
  <Companies setStyle="var(--color-secondary-light)" />
  <AboutShort />
  <SerivcesSectionGrid setStyle={colorPrimaryLight} />
  <WhyUs features={whyUs} />
  <Testimonials client:load setStyle={colorPrimaryLight} />
  <GlobalFootprint client:load setStyle="" />
  <Certifications setStyle={colorPrimaryLight} />
  <section class="section">
    <div class="maxwidth flex flex-col justify-between gap-8 p-10 md:flex-row">
      <ContactForm />
      <QR />
    </div>
  </section>
</div>
