---
import Hero from './Hero.astro';
import Companies from '../companies/Companies.astro';
import SerivcesGrid from './SerivcesGrid.astro';
import Testimonials from './Testimonials.jsx';
import Certifications from './Certifications.astro';
import WhyUs from './WhyUs.astro';

import whyUs from '../../data/js/whyUs.js';
import GlobalFootprint from './GlobalFootprint.jsx';
---

<main id="main-content maxwidth">
  <Hero />
  <Companies />
  <SerivcesGrid />
  <WhyUs features={whyUs} />
  <Testimonials client:load />
  <GlobalFootprint client:load />
  <Certifications />
</main>
