---
import navItems from "../../data/js/navItems";
---

<nav class="text-black p-4 container mx-auto">
  <ul
    class="flex flex-col lg:flex-row gap-x-10 min-w-[280px] top-0 left-0 z-50"
  >
    {
      navItems.map((item) => (
        <li class="group relative">
          <a
            href={item.href || "#"}
            class="hover:text-primaryBlue font-medium text-[15px] flex items-center transition-color duration-300"
          >
            {item.name}
            {item.submenu && <span class="ml-1 text-xs ">⯆</span>}
          </a>

          {item.submenu && (
            <ul class="absolute top-full left-0 z-50 invisible opacity-0 group-hover:visible group-hover:opacity-100 bg-white shadow-lg rounded-md min-w-[250px] transition-all duration-300 ease-in-out">
              {item.submenu.map((sub) => (
                <li class="relative group/submenu">
                  <a
                    href={sub.href || "#"}
                    class="px-4 py-3 hover:text-primaryBlue font-normal text-[15px] transition-colors duration-300 flex items-center justify-between"
                  >
                    {sub.name}
                    {sub.submenu && <span class="ml-1 text-xs">⯈</span>}
                  </a>

                  {sub.submenu && (
                    <ul class="absolute top-0 left-full invisible opacity-0 group-hover/submenu:opacity-100 group-hover/submenu:visible bg-white shadow-lg rounded-md min-w-[250px] transition-all duration-300 ease-in-out">
                      {sub.submenu.map((subSub) => (
                        <li>
                          <a
                            href={subSub.href || "#"}
                            class="block px-4 py-3 hover:text-primaryBlue font-normal text-[15px] transition-color duration-300"
                          >
                            {subSub.name}
                          </a>
                        </li>
                      ))}
                    </ul>
                  )}
                </li>
              ))}
            </ul>
          )}
        </li>
      ))
    }
  </ul>
</nav>
