---
import Picture from 'astro/components/Picture.astro';

import AnimatedNumber from '@/components/extras/AnimatedNumber.jsx';

import { heroStats } from '../../data/js/hero.js';
---

<div class="md:mt-auto">
  <div class="my-5 flex gap-10 md:px-4 lg:flex-col">
    {
      heroStats.map((stat) => (
        <div class="flex gap-4">
          <div class="max-w-[14%]">
            <Picture src={stat.image.path} alt={stat.image.alt} />
          </div>
          <div>
            <h3>
              <AnimatedNumber value={Number(stat.qty)} duration={2000} client:load />+
            </h3>
            <p set:html={stat.description}>""</p>
          </div>
        </div>
      ))
    }
  </div>
</div>

<style>
  @reference "tailwindcss";
  h3 {
    @apply text-2xl md:text-4xl;
  }

  p {
    @apply leading-snug;
  }
</style>
