---
// src\components\home\WhyUs.astro
const { features = [], setStyle } = Astro.props;
---

<section class="section px-6" style={`background: ${setStyle}`}>
  <div class="maxwidth mx-auto text-center">
    <h2 class="mb-10 text-3xl font-bold">Why Choose <span class="halfHeading">Us?</span></h2>
    <div class="grid grid-cols-1 gap-10 text-left md:grid-cols-2 lg:grid-cols-3">
      {
        features.map((item, idx) => (
          <div
            class="bg-primary gsap-animate rounded-2xl p-6 shadow transition hover:shadow-md"
            data-animation="fade"
            data-scroll="true"
            data-stagger-group="why-choose"
            data-delay="index"
          >
            <div class="flex items-center gap-1.5 text-3xl">
              <div class="flex h-10 w-10 items-center text-white">
                <item.icon />
              </div>
              <h3 set:html={item.title} />
            </div>
            <p class="mt-1.5" set:html={item.description} />
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  @reference "tailwindcss";
  h3,
  p {
    @apply text-white;
  }
</style>
