---
// filepath: src/components/contact/ContactForm.astro
---

<div class="w-full md:w-1/2 pxy-8 flex flex-col justify-center">
    <h2 class="text-center mb-6 uppercase">Contact Us</h2>
    <form 
    id="contactForm"
      action="./sendmail.php" 
      method="POST"
      class="flex flex-col gap-4"
    >
      <div class="mb-4">
        <label for="name" class="block mb-1">Name<span class="text-red-500">*</span></label>
        <input type="text" id="name" name="name" placeholder="Full Name"  required class="formInput w-full border p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-input-focus" />
      </div>
      
      <div class="mb-4">
        <label for="email" class="block mb-1">Email<span class="text-red-500">*</span></label>
        <input type="email" id="email" name="email" placeholder="Yours email address"  required class="formInput w-full border p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-input-focus" />
      </div>
      
      <div class="mb-4">
        <label for="contact" class="block mb-1">Contact</label>
        <input type="text" id="contact" name="contact" placeholder="Your contact number"  class="formInput w-full border p-2 rounded-md focus:outline-none focus:ring-2 focus:ring-input-focus" />
      </div>
      
      <div class="mb-4">
        <label for="message" class="block mb-1">Message<span class="text-red-500">*</span></label>
        <textarea id="message" name="message" placeholder="Write full query"  required class="formInput w-full border p-2 rounded-md h-32 focus:outline-none focus:ring-2 focus:ring-input-focus"></textarea>
      </div>

      <button type="submit" class="w-full px-4 py-2 rounded-md transition duration-300">Send Message</button>
    </form>
  </div>

  <style>
/* Text & color styling */
h2 {
  color: var(--color-primaryBlue);
  font-size: var(--font-size-3xl);
    font-weight: 700;
}

label {
  color: var(--color-gray);
  font-size: var(--font-size-md);
  font-weight: 600;
}

input, textarea {
  color: var(--color-gray);
  font-size: var(--font-size-base)
}

.formInput {
border-color: var(--color-input-border);
&:focus {
    
    }


}

button {
  font-size: var(--font-size-lg);
  color: var(--color-white);
  background-color: rgb(from var(--color-primaryBlue) r g b / 0.7);
  &:hover {
    background-color: rgb(from var(--color-primaryBlue) r g b / 1);
  }
}

</style>
