---

---

<div class="w-full md:w-1/2 rounded-lg overflow-hidden shadow-md">
  <iframe 
  width="100%"
  height="100%"
  loading="lazy"
  referrerpolicy="no-referrer-when-downgrade"
    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2884.044464150303!2d76.6810317993788!3d30.726096877516394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390feee2e2faf101%3A0xd66c203dbb6ed74a!2sIndivirtus%20Healthcare%20Services%20Pvt.%20Ltd!5e0!3m2!1sen!2sin!4v1747733291554!5m2!1sen!2sin">
  </iframe>
</div>

