---
import Picture from 'astro/components/Picture.astro';

import QRwhatsApp from '../../assets/QRwhatsApp.jpg';
---

<div
  class="gsap-animate flex flex-col items-center justify-center text-center"
  data-direction="right"
  data-duration="1.2"
  data-delay="0.3"
  data-scroll="true"
  data-animation="slide"
>
  <h2 class="leading-relaxed tracking-wider">
    Scan QR to connect us on <br />
    <span class="halfHeading">WhatsApp</span>
  </h2>
  <a href="https://wa.me/916283282728?text=Hi">
    <Picture src={QRwhatsApp} alt="QR code" width={300} />
  </a>
</div>
