---
import Picture from 'astro/components/Picture.astro';

import QRwhatsApp from '../../assets/QRwhatsApp.jpg';
---

<div class="slide-left flex flex-col items-center justify-center text-center" data-toggle="play reverse play reverse">
  <h2 class="leading-relaxed tracking-wider">
    Scan QR to connect us on <br />
    <span class="halfHeading">WhatsApp</span>
  </h2>
  <a href="https://wa.me/916283282728?text=Hi">
    <Picture src={QRwhatsApp} alt="QR code" width={300} />
  </a>
</div>
