---
// Props
const { title, fileUrl } = Astro.props;

import { FaFilePdf } from 'react-icons/fa6';
---

<div class="w-full rounded p-6 shadow transition hover:shadow-lg">
  <div class="mb-10 flex items-center space-x-4">
    <div class="text-secondary text-3xl md:text-5xl">
      <FaFilePdf />
    </div>
    <p class="font-semibold">{title}</p>
  </div>
  <a href={fileUrl} target="_blank" class="button block"> Download </a>
</div>
