---
// Import astro Picture component for responsive images
import Picture from 'astro/components/Picture.astro';

import logo from '../../assets/logo.svg';

import Navigation from './Navigation.astro';

import { navItems } from '../../data/js/navItems.js';

// import top scrolling text
import TopBar from './TopBar.astro';
---

<header id="site-header" class="relative z-100 w-full">
  <div id="header-div" class="headerDiv fixed top-0 right-0 left-0 shadow-sm">
    <TopBar />
    <section class="container mx-auto flex items-center justify-between px-4">
      <div class="flex grow items-end">
        <a href="/" class="py-1.5">
          <Picture src={logo} alt="Indivirtus Logo" height={'65'} />
        </a>
      </div>
      <div>
        <Navigation navItems={navItems} />
      </div>
    </section>
  </div>
</header>

<style>
  @reference "tailwindcss";

  .headerDiv {
    background-color: var(--color-white);
  }
</style>
