---
// Importing card
import ResourceCard from './ResourceCard.astro';

// Importing data
import { downloads } from '../../data/js/resources.js';
---

<section class="section">
  <div class="maxwidth">
    <h3>Resources</h3>
    <div class="grid grid-cols-1 gap-6 md:grid-cols-2 lg:grid-cols-4">
      {downloads.map((file) => <ResourceCard title={file.title} fileUrl={file.fileUrl} />)}
    </div>
  </div>
</section>
<style>
  @reference "tailwindcss";
  h3 {
    @apply mb-8 text-center text-6xl;
  }
</style>
